export CURRENT_PROJECT=$(pwd)
export CC=clang
export CXX=clang++
export_alias prepare "cmake --preset conan-debug -B$CURRENT_PROJECT/build -GNinja $CURRENT_PROJECT"
export_alias build "fish -c \"cd $CURRENT_PROJECT && bear -- cmake --build build\""
export_alias pkg_update "fish -c \"conan install conanfile.py --build=missing -s build_type=Debug\""
export_alias run_tests "ctest --test-dir $CURRENT_PROJECT/build/"
export GLFW_NO_GLU=1
export GLFW_INCLUDE_GLCOREARB=1
